# OSU API
# get here: https://osu.ppy.sh/home/account/edit
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# YouTube
# get here: https://console.cloud.google.com/apis/api/youtube.googleapis.com
YOUTUBE_API_KEY=

# site URL
# eg. https://example.com or local host
SITEURL="http://127.0.0.1:8000"


