Title: My Osu
Slug: osu
Lang: cs

# Můj osu! profil

- Globální žebříček: #**{{ rank }}**
- Body za výkon: **{{ pp }}**pp
- Přesnost: **{{ acc }}**%
- Doba hraní: **{{ play_time }}**
- Počet přehrání: **{{ play_count }}** maps

# Skiny které používám  
### WhiteCat 3.0
Převážně používám V1, Aquwa a DT verzi: [Osu Forum](https://osu.ppy.sh/community/forums/topics/1864774?n=1) - [Google Drive](https://drive.google.com/drive/folders/1ZKuKi-jLdhrR0F2yi7r2cbOZDh-uVsOV)

### Aristia Refreshed
Když jsem unavený z WhiteCat: [Osu Forum](https://osu.ppy.sh/community/forums/topics/2004302?n=1) - [Google Drive](https://drive.google.com/drive/folders/1hNagtYyM9fkG3_TvgEn5DhDVvo9n1iqZ)


# Herní Styl
### Míření 
K míření používám svůj CTL-672 tablet. 
Moje are je 65x45mm a jesem hover hráč. 

### Taping
Používám oba dva prsty (full alt), ale nemam dominantní prst. 
Každý zvládne začít burst a nemají problém se single tap.







