Title: My Osu
Slug: osu
Lang: de

# Mein osu!-Profil
Hier sind die statisch generierten Daten aus dem Cache:

- Globales Ranking: {{ rank }}#
- Performance-Punkte: {{ pp }}
- Genauigkeit: {{ acc }}
- Spielzeit: {{ play_time }}
- Anzahl der Spiele: {{ play_count }}
